.App {
  text-align: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.aboutButton {
  padding: 3px;
  box-shadow: 3px 3px var(--shadow-color);
  border: 1px solid black;
  cursor: pointer;
}

:root {
  --main-bg-color: #94babd;
  --shadow-color: #4c47529e;
  --tile-color: #fcfbf4;
}
